**Table of contents**<a id='toc0_'></a>    
- [Python-SQL connection](#toc1_)    
  - [Establish connection with the database](#toc1_1_)    
  - [Create cursor that interacts with the database tables](#toc1_2_)    
  - [Convert results to dataframe](#toc1_3_)    
  - [Edit databases](#toc1_4_)    
- [Acknowledgements](#toc2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc1_'></a>[Python-SQL connection](#toc0_)

In [ ]:
# You know the drill
# !pip install mysql-connector-python
import mysql.connector

In [ ]:
import getpass
saved_password = getpass.getpass()

## <a id='toc1_1_'></a>[Establish connection with the database](#toc0_)

In [ ]:
# open the door between python and my databases ->  I specified Sakila
cnx = mysql.connector.connect(user='root', password=saved_password, database='sakila', port=3306)

In [ ]:
# check if the connection was successful
cnx.is_connected()

## <a id='toc1_2_'></a>[Create cursor that interacts with the database tables](#toc0_)

In [ ]:
# we need to define the object we will use to interact with the database
cursor = cnx.cursor(buffered=True)

In [ ]:
query = ("SELECT * FROM sakila.actor;")
cursor.execute(query)
results = cursor.fetchall()
results

In [ ]:
# its a usual python object -> this is our usual playground
for element in results:
    print('full name: '+element[1]+' '+element[2])

## <a id='toc1_3_'></a>[Convert results to dataframe](#toc0_)

In [ ]:
import pandas as pd
actors_df = pd.DataFrame(results)

In [ ]:
actors_df["full name"] = actors_df[1] + " " +  actors_df[2]
actors_df

In [ ]:
# Extract directly into pandas
query = ("SELECT * FROM sakila.actor;")
actors_df = pd.read_sql_query(query, con=cnx)
actors_df

In [ ]:
actors_df['full_name'] = actors_df['first_name'] + " " + actors_df['last_name']

## <a id='toc1_4_'></a>[Edit databases](#toc0_)

In [ ]:
query = ("""DROP DATABASE cohort""")
cursor.execute(query)

In [ ]:
query = ("""CREATE DATABASE cohort""")
cursor.execute(query)

In [ ]:
query = ("""CREATE TABLE IF NOT EXISTS
cohort.demo(
student_id INT PRIMARY KEY,
student_name VARCHAR(52),
email VARCHAR(32) DEFAULT "john_doe@gmail.com",
coolness INT NOT NULL)""")
cursor.execute(query)

In [ ]:
query = ("""SELECT * FROM cohort.demo;""")
demo = cursor.execute(query)
demo

In [ ]:
for index, fullname in zip(actors_df['actor_id'], actors_df['full_name']):
    query = f"""INSERT INTO cohort.demo(student_id, student_name, coolness) VALUES ('{index}', '{fullname}',  10);"""
    cursor.execute(query)

In [ ]:
# Let's try to execute the last query again
print(query)
cursor.execute(query)

In [ ]:
# once you have connected to sql and done everything
# saving any changes you did on the database
cnx.commit()
# clear the cursor
cursor.close()

# closes the door between python and SQL
cnx.close()

In [ ]:
cnx.is_connected()

# <a id='toc2_'></a>[Acknowledgements](#toc0_)

Thank you, Goncalo Jardim, for your awesome lesson structure and content.