**Table of contents**<a id='toc0_'></a>    
- [Python-SQL connection](#toc1_)    
  - [Establish connection with the database](#toc1_1_)    
  - [Create cursor that interacts with the database tables](#toc1_2_)    
  - [Convert results to dataframe](#toc1_3_)    
  - [Edit databases](#toc1_4_)    
- [Acknowledgements](#toc2_)    

<!-- vscode-jupyter-toc-config
	numbering=false
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# <a id='toc1_'></a>[Python-SQL connection](#toc0_)

In [ ]:
# You know the drill
# !pip install mysql-connector-python
import mysql.connector

In [ ]:
import getpass

# Add your password

## <a id='toc1_1_'></a>[Establish connection with the database](#toc0_)

In [ ]:
# open the door between python and my databases ->  I specified Sakila
cnx = mysql.connector.connect(user='root', password=password, database='sakila', port=3306)

In [ ]:
# Check if the connection was successful

## <a id='toc1_2_'></a>[Create cursor that interacts with the database tables](#toc0_)

In [ ]:
# We need to define the object we will use to interact with the database

In [ ]:
# Get all the records from sakila actor table

In [ ]:
# Review the results

## <a id='toc1_3_'></a>[Convert results to dataframe](#toc0_)

In [ ]:
import pandas as pd

# Convert results to dataframe

In [ ]:
# Extract directly into pandas

In [ ]:
# Recreate a full name column

## <a id='toc1_4_'></a>[Edit databases](#toc0_)

In [ ]:
# Remove the cohort database

In [ ]:
# Remove the cohort database

In [ ]:
# Recreate the database cohort

In [ ]:
# Create a demo table similar to the one we did before
query = '''CREATE TABLE demo
(
   student_id INT PRIMARY KEY,
   student_name VARCHAR(50) 
)
;'''
cursor.execute(query)

In [ ]:
# Review the cohort table

In [ ]:
# Add all the records from the actors dataframe

In [ ]:
# Let's try to execute the last query again

In [ ]:
# once you have connected to sql and done everything
# saving any changes you did on the database

# clear the cursor

# closes the door between python and SQL

In [ ]:
# Check if we still have the connection

# <a id='toc2_'></a>[Acknowledgements](#toc0_)

Thank you, Goncalo Jardim, for your awesome lesson structure and content.